h1{
    color: green;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0f0ff; /* Baby blue background */
    text-align: center; /* Center-align text */
    padding: 20px;
}


.myDiv {
  border: 5px outset red;
  background-color: orange;
  text-align: left;
}

p{
    font-size: 16px;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}